<a href="https://colab.research.google.com/github/Bibekghimire25/bootcamp2/blob/main/First_Program_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcom to Python session")

Welcom to Python session

#Data Type in Python

1. standard data type 
  1. number
    1.int - whole number whithout any fractional values 
    2.float - fractional values / decimal 
    3.complex - imaginary values/number
2. string - anything which is under double quotes or single quote is string
3.boolean - true or false 
2. data structure data type

In [ ]:
a = -77
print(a)
print(type(a))

-77
<class 'int'>

In [ ]:
a = 3+15j
print(a)
print(type(a))

(3+15j)
<class 'complex'>

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [ ]:
a = "Bibek"
print(a)
print(type(a))

Bibek
<class 'str'>

Data Structured Data Type

1. List - Normal regular list/ collection of stuffs [] everything inside the bracket.
2. Tuple- () small bracket 
3. Set- {} curly bracket- 
4. Dictionary-

In [ ]:
a = {'a','b','c','d','e'}
print(a)
print(type(a))

{'c', 'a', 'e', 'd', 'b'}
<class 'set'>

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

To call a function, use the function name followed by parenthesis:

In [ ]:

def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(a.count('a'))
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0
<class 'list'>